@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#template {
    width: 100vw;
    height: 100vh;

    background-color: transparent;
}

#leftNavigation {
    width: 120px;
    height: 100%;
    background-color: #FF8901;
    position: sticky;
    /* overflow: hidden; */
}

#logo-area {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: white;

    font-weight: 900;
    font-size: 19px;
}

#logout-area {
    width: 52px;
    height: 52px;

    cursor: pointer;
    position: absolute;
    bottom: 5%;

    left: 50%;
    transform: translateX(-50%);
}

#button-area {
    width: 100%;
    height: 60%;

    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding-top: 20px;

    gap: 1rem;
}

.navBtn {
    width: 52px;
    height: 52px;

    cursor: pointer;

    background-color: transparent;

    transition: 0.2s;
}

.navBtn:hover {
    transform: scale(1.1);
}