/* Mga styles dito is for the INFO area TEMPLATE lang */



/* STYLES NG REGISTERED USERS */

.reg-users-text{
    color:black;
    font-size: 24px;
}


/* STYLES NG INFO */
.customerText{
    font-size: 24px;
    color:black;
}
.customerTextName {
    font-weight: 500;
    color: #FF8901;
    font-size: 24px;
}

/* para sa box sa loob ng box container */

.box{
    width: 20%;
    height: 45%;
    background-color: white;

    border-radius: 15px;
    
    position: relative;
}

.box-text-grey {
    color:#8E95A9;
    position: absolute;
    left: 15%;
    top: 25%;

    font-weight: 700;
}

.box-text-value{
    color:black;
    position: absolute;
    left: 15%;
    top: 50%;

    font-size: 26px;
    font-weight: 700;
}
